    html {scroll-behavior: smooth;}
    body {
      background-color: #bbb;
      background-image:url(img/mountains-blur.png);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      backdrop-filter: none;
      filter:none;
      font-family:  "ubuntu",  sans-serif;
      padding-left:5%;
      padding-right:5%;
      margin:0px;
      overflow:auto;
      text-align: center;
      transition: 250ms;
    }
    
    #logo {
    height:256px;
    width: auto;
    margin-bottom: 10mm;
    margin-top: 15mm;
    }

    #headerbar {
      background-color: #ffffff;
      width:100%;
      max-width:260mm;

      height:auto;
      margin:auto;
      margin-top:0cm;
      border-radius:8px;
      border:1px solid rgba(0,0,0, 0.4);
      top:10px;
      position:sticky;
      z-index:30;
      transition:200ms;
      box-shadow:0px 10px 5px -7px rgba(150, 150, 150, 0.40);
      
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:center;
      text-decoration:none;
      text-align:center;

    }
    
    .headerbar-button {
      background: transparent; //#fbfbfb;
      border-radius:8px;
      border:1px transparent;
      /*border-right:1px solid #bbb;
      border-left:1px solid #bbb;*/
      padding:0.5em 1em 0.5em 1em;
      transition:250ms;
      
      margin:0.25em;
      flex-grow:1;
      height:1cm;
      outline:0px;
      
      font-weight:bold;
      color: black;//#555;
      display: inline-block;
      
      align-items:center;
      justify-content:center;
      text-decoration:none;
      text-align:center;
      cursor:pointer;
    }
    
    .headerbar-button:hover {
      background:rgba(0,0,0, 0.1);
    }
    .headerbar-button:active {
      background:rgba(0,0,0, 0.3);
    }/*
    .headerbar-button:focus {
      background:rgba(0,0,0, 0.2);
    }*/
    
    .headerbar-button #activepage {
    
    }
    .headerbar-button:before{
    color:black;
    content: " | ";
    padding: 0 10px;
    }
    

    .button {
    background-color: #33d17a;
    border:0px transparent;
    border-radius: 8px;
    padding:2mm 20mm 2mm 20mm;
    color:white;
    font-weight:bold;
    text-decoration:none;
    transition: 250ms;
    user-select: none;
    }
    .button:hover {
    background-color: #57e389;
    cursor:pointer;
    }
    .button:active {
    background-color: #2ec27e;
    }

    .content {
    background-color: transparent;
    padding:14px;
    }

    .pod{
      background-color: #ffffffdd;
      width:auto;
      max-width: 20cm;

      //height:100%;
      align-items:center;
      justify-content:center;
      padding:5%;
      border-radius:8px 8px 8px 8px;
      border:0px transparent;
      line-height: 2;
    
      //margin:auto;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:20px;
      margin-top: 10px;
      //left:14px;
      //right:14px;

      z-index:5;
      overflow:hidden;
      transition:300ms;
      bottom:10px;
      position:relative;
      
      display:flex;
      flex-direction:column;
      flex-grow:1;
    }
    
    table {
      background-color: #d5d5d590;
      padding: 1%;
      border-radius:  14px;
      width: auto;
    }

    td {
      background-color: #99999955;
      padding: 2%;
      border-radius: 16px;
    }


    dialog {
      border-radius: 14px;
      border:1px solid rgba(0,0,0,0.15);
      box-shadow:0px 10px 5px -7px rgba(0, 0, 0, 0.40);
      position:relative;
      width:90%;
      height:90%;
    }
    
    p {                     /*  Paragraphs  */
      overflow:auto;
      height:100%;
      text-align:left;
      width:auto;
    }
    
    .image-container {
      
      margin-left:20%;
      margin-right:20%;
      width:100%;
      height:auto;
      border-radius:8px;
      border:0px transparent;
      object-fit:contain;
      padding:0px;
      //filter:blur(0px) brightness(1000%);
      transition:500ms; 
    }
    
    .contentimg {
      border: 1px solid #00000088;
      margin: 0 auto;
      border-radius:12px;
      max-width: 100%;
      height: auto;
      
      -webkit-user-select: none;  /* Chromium based*/
      -moz-user-select: none;     /* Firefox*/
      user-select: none;
    }
    

      /*footer stuff, dont care about cleanness here*/
    footer {text-align:center;margin:auto;color:#888;}










    /* responsive stuff
       i like this very much
    */
    @media screen and (max-device-width: 1000px) {
      *{font-size: 1.1em;}
      #headerbar {
        margin:0px;
        border-radius:0px 0px 8px 8px;
        top:0px;
        height:20%;
      }
      
     .headerbar-button {
        background: transparent;
        border:1px transparent;
        border-right:1px solid #bbb;
        border-left:1px solid #bbb;
        padding:0.5em 1em 0.5em 1em;
        transition:100ms;
        
        margin:0px 0px 0px 0px;
        flex-grow:1;
        height:20%;
        
        align-items:center;
        justify-content:center;
        text-decoration:none;
        font-size:1.5em;
      }
      #pod #content  {
        margin-left:0%;
        margin-right:0%;
        padding:30px;
      }
    }
    
    
@media screen and (max-width: 600px) {
      body{
      font-size: 1em;
      padding:0px;
      }
      #headerbar {
        margin:0px;
        border-radius:0px 0px 8px 8px;
        top:0px;
        text-size-adjust:auto;
      }
      .pod {
        //margin-left:5%;
        //margin-right:5%;
        //transition:500ms;
        padding:30px;
       }
}
     /*
    @media screen and (min-width: 1200px) {
      #headerbar {/*
        margin:0px;
        border-radius:0px 0px 8px 8px;
        //transition:500ms;
        top:0px;*/
      }
      .pod {
        //margin-left:5%;
        //margin-right:5%;
        padding:5% 10% 5% 10%;
        font-size:1.2em;
       }
    }*/

}

footer .pod {padding:0px;}



@media (prefers-color-scheme: dark) {
  /* Dark theme style*/
  body {
      color:#ccc;
      background-color: #333;
      background-image:url(img/mountains-blur-dark.png);
      transition: 250ms;
    }    
    #headerbar {
      background-color:rgba(40,40,40,1);
      box-shadow:none;
    }
    
    .headerbar-button {
      background: transparent;
      color:#fafafa;
    }
    
    .headerbar-button:hover {
      background-color:#333;
    }
    .headerbar-button:active {
      background-color:#555;
    }
    
    .content {background-color: transparent;}

    .pod{
      background-color:rgba(50,50,50,0.9);
    }
    .button {
    background-color: ;
    }

}
