body {
	margin: 0;
	background-color: #333;
	font-family: arial;
font-size: 16px;
}


#nav {
    list-style-type: none;
    margin: 0;
    padding: 30px;
    width: 100%;
    background-color: DarkGreen;
    position: fixed;
    height: 20px;
    overflow: auto;
	text-align: center;
}